body {
    margin: 4%;
    height: 100vh;
    align-items: left;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: auto;
    height: auto;
    cursor: none;
}

.title {
    font-size: 300%;
    text-align: left;
}

.nextButton {
    margin-top: 5%;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

.nextButton2{
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight:bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightgray;
    cursor: none;
}

img {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.graphicContainer{
    margin-right: 6%
}

.graphicContainerA{
    width: 90%;
    margin-right: 6%
}


p {
    font-size: 220%;
    font-weight: bolder;
    margin: 0px;
    color: gray;
}

h1{
    font-size: 150%;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 200%; /* Adjust the title font size for smaller screens */
    }

    .content {
        flex-direction: column; /* Stack content vertically on smaller screens */
        align-items: center; /* Center align content on smaller screens */
    }

    h1 {
        font-size: 120%; /* Adjust h1 font size for smaller screens */
    }

    p {
        font-size: 150%; /* Adjust paragraph font size for smaller screens */
    }
}