body {
    margin: 4%;
    height: 100vh;
    align-items: left;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: auto;
    height: auto;
    cursor: none;
}

.title {
    font-size: 300%;
    text-align: left;
}

.nextButton {
    margin-top: 5%;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

.nextButton2 {
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

button {
    background-color: rgb(0, 83, 131);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 162, 255);
    cursor: none;
}

img {
    width:90%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.graphicContainer {
    margin-right: 6%;
    height: 50%;

}

.graphicContainerA {
    width: 90%;
    height: auto;
    margin-right: 6%;
}

p {
    font-size: 2vw; /* Adjusted for resizable font size based on viewport width */
    font-weight: bolder;
    margin: 0px;
    color: gray;
}

h1 {
    font-size: 6vw;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 200%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 120%;
    }

    p {
        font-size: 3vw; /* Adjusted for smaller screens */
    }
}
